/* Overall App Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

.content {
  flex: 1;
  padding: 16px;
}

.home-heading {
  border-bottom: 1px solid #ccc; /* Adjust the color and thickness as desired */
}

/* Navbar Styles */
.navbar {
  border: 1px solid #e1e8ed;
  background-color: #00acee;
  color: white;
  padding: 16px;
}

/* Sidebar Styles */
.sidebar {
  width: 25vw;
  border: 1px solid #e1e8ed;
  background-color: #000000;
  padding: 1px;
  display: flex;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.sidebar li svg {
  margin-right: 8px;
}

.sidebar li:hover {
  background-color: #222222; /* Adjust the background color to a slightly lighter black */
  border-radius: 20px; /* Adjust the value to control the level of rounding */
}

.sidebar li:hover svg,
.sidebar li:hover span {
  color: #ffffff; /* Adjust the color to your desired hover color */
}

.sidebar li:hover span {
  border: none; /* Remove the border */
}

.tweet-button {
  background-color: #00acee;
  color: white;
  border-radius: 20px;
  padding: 10px 60px;
}

/* Tweet Styles */
.tweet {
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.tweet h4 {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: bold;
}

.tweet-input {
  margin-bottom: 20px;
}

.tweet p {
  margin: 0;
  font-size: 16px;
}

.tweet-username,
.tweet-timestamp {
  font-weight: bold;
}
